/1.bmp
/1.ico
/3.bmp
/ATweet_2012-03-25.zip
/Thumbs.db
/Tw.bmp
/Twitter 1.bmp
/Twitter 1.png
/Twitter.png
/skin1.bmp
/skin2.bmp
/skin3.bmp
/twitter-bird-light-bgs.png
/twitter-bird-white-on-blue.bmp
/twitter-bird-white-on-blue.png
/Текстовый документ.txt
